/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
  z-index: 0;
}
#distance {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  /* justify-content: left; */
  position: absolute;
  border: 2px solid #999;
  height: 170px;
  width: 550px;
  z-index: 1;
  color: #ffffff;
  /* font-family: sans-serif; */
  /* background-image: linear-gradient(to bottom right, #000000, #000058); */
  background: #333a;
  border-top-left-radius: 12px;
  right: -1px;
  bottom: -1px;
  padding: 30px;
}
span {
  font-size: 1.1rem;
}
#tiva,
#maps,
#error {
  font-weight: bold;
}
iframe {
  visibility: collapse;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
