/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
  z-index: 0;
}
#distance {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  /* justify-content: left; */
  position: absolute;
  border: 2px solid #999;
  /* font-size: 0.7rem; */
  /* height: 170px; */
  width: 590px;
  z-index: 1;
  color: #ffffff;
  /* font-family: sans-serif; */
  /* background-image: linear-gradient(to bottom right, #000000, #000058); */
  background: #333b;
  border-top-left-radius: 12px;
  right: -1px;
  bottom: -1px;
  padding: 10px 22px;
}

.row{
  padding: 12px 0;
  display: flex;
  align-items:center;
  flex-direction: row;
  width: 100%;
  justify-content: space-between  !important;
  /* justify-content: space-between; */
  /* padding: 10px; */
  /* color: #000; */
  /* display: none; */
  /* background: red !important; */
}
.row> div {
  /* width: 100px;
  height: 100px;
  background: linear-gradient(-45deg, #788cff, #b4c8ff); */
}
span {
  font-size: 0.9rem;
}
#tiva,
#maps,
#error {
  font-weight: bold;
  color: darkorange;
  float: right;
  display: block;
}
iframe {
  visibility: collapse;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
